.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 600px;
  margin-left: 20px;
}

.card img {
  max-width: 348px;
  ;

  height: auto;

}

.card h6 {
  font-size: 16px;
  margin-top: 10px;
}

.card p {
  color: #666;
  margin-top: 5px;
}

.card h5 {
  color: #333;
  margin-top: 10px;
}

.button {
  color: #fff;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ff8c00;
}