.classtag{
    margin-top: 446px;
    border: 5px solid black;
    background-color: black;
    color: white;
    font-size: larger;
    margin-left: 6px;
    text-align: center;
   
}

.symbol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: #f7f7f6;
    width: 1400px;
    margin-left: 60px;

}
.symbol h5{
text-align: left;
margin-top: 15px;
}

.video{
    margin: 4rem;
}

.video video{
    width: 100%;
}